@import "tailwindcss";
@import './styles/token.css';
@import './styles/component.css';
@import './styles/global.css';

* {
  cursor: default;
}

a, button {
  cursor: pointer;
}

input, textarea {
  cursor: text;
}
