@import "tailwindcss";
@import './styles/token.css';
@import './styles/component.css';
@import './styles/global.css';

* {
  cursor: default;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a, button {
  cursor: pointer;
}

input, textarea {
  cursor: text;
}
